<h1>Editing startform</h1>

<%= render "form", startform: @startform %>

<br>

<div>
  <%= link_to "Show this startform", @startform %> |
  <%= link_to "Back to startforms", startforms_path %>
</div>
