<div class="w3-row-padding w3-padding-16" id="about">
    <div class="w3-col m6">
      <%# <img src="/w3images/avatar_g.jpg" alt="Me" style="width:100%"> %>
          <%= image_tag 'avatar_g.jpg', style: "width:100%" %>

      
    </div>
    <div class="w3-col m6">
      <%# <img src="/w3images/me2.jpg" alt="Me" style="width:100%"> %>
          <%= image_tag 'me2.jpg', style: "width:100%" %>

    </div>
  </div>

  