
<div class="w3-row-padding w3-padding-16" id="about">
  
    <% Picture.all.each do |pic|%>   
     
        <div class="w3-col m6">               
              <%#= image_tag 'mountains.jpg', style: "width:100%" %>
              <img src="<%= pic.image %>" alt="Ruchika" style= "width:100%"  >
        </div>
    <% end %>
</div>
