<div>
<h4><b>Technical Skills</b></h4>
    <% Skill.all.each do |progress|%>       
        <p><%= progress.name %></p><br>
            <div class="w3-grey">
                <div class="w3-container w3-dark-grey w3-padding w3-center"><%= progress.expertise %></div>
            </div>                
    <% end %>
    <p>
        <button class="w3-button w3-dark-grey w3-padding-large w3-margin-top w3-margin-bottom">
            <i class="fa fa-download w3-margin-right"></i>Download Resume
        </button>
    </p>

</div>


